<div>
    <h2 id="page-heading">
        <span jhiTranslate="myztl5App.permessoTemporaneo.home.title">Permesso Temporaneos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-permesso-temporaneo" [routerLink]="['/permesso-temporaneo/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="myztl5App.permessoTemporaneo.home.createLabel">
            Create a new Permesso Temporaneo
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="permessoTemporaneos?.length === 0">
        <span jhiTranslate="myztl5App.permessoTemporaneo.home.notFound">No permessoTemporaneos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="permessoTemporaneos && permessoTemporaneos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="targa"><span jhiTranslate="myztl5App.permessoTemporaneo.targa">Targa</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="domicilioDigitale"><span jhiTranslate="myztl5App.permessoTemporaneo.domicilioDigitale">Domicilio Digitale</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tipoPersona"><span jhiTranslate="myztl5App.permessoTemporaneo.tipoPersona">Tipo Persona</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nomeRichiedente"><span jhiTranslate="myztl5App.permessoTemporaneo.nomeRichiedente">Nome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cognomeRichiedente"><span jhiTranslate="myztl5App.permessoTemporaneo.cognomeRichiedente">Cognome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ragioneSociale"><span jhiTranslate="myztl5App.permessoTemporaneo.ragioneSociale">Ragione Sociale</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codiceFiscaleRichiedente"><span jhiTranslate="myztl5App.permessoTemporaneo.codiceFiscaleRichiedente">Codice Fiscale Richiedente</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="partitaIva"><span jhiTranslate="myztl5App.permessoTemporaneo.partitaIva">Partita Iva</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dataInizio"><span jhiTranslate="myztl5App.permessoTemporaneo.dataInizio">Data Inizio</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="impostaDiBollo"><span jhiTranslate="myztl5App.permessoTemporaneo.impostaDiBollo">Imposta Di Bollo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="costo"><span jhiTranslate="myztl5App.permessoTemporaneo.costo">Costo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="copiaFirmata"><span jhiTranslate="myztl5App.permessoTemporaneo.copiaFirmata">Copia Firmata</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="documentoRiconoscimento"><span jhiTranslate="myztl5App.permessoTemporaneo.documentoRiconoscimento">Documento Riconoscimento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pagato"><span jhiTranslate="myztl5App.permessoTemporaneo.pagato">Pagato</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="protocollo"><span jhiTranslate="myztl5App.permessoTemporaneo.protocollo">Protocollo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="calendario.id"><span jhiTranslate="myztl5App.permessoTemporaneo.calendario">Calendario</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tipoPermesso.nome"><span jhiTranslate="myztl5App.permessoTemporaneo.tipoPermesso">Tipo Permesso</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="durata.durata"><span jhiTranslate="myztl5App.permessoTemporaneo.durata">Durata</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nome.nome"><span jhiTranslate="myztl5App.permessoTemporaneo.nome">Nome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="motivazione.descrizione"><span jhiTranslate="myztl5App.permessoTemporaneo.motivazione">Motivazione</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let permessoTemporaneo of permessoTemporaneos ;trackBy: trackId">
                    <td><a [routerLink]="['/permesso-temporaneo', permessoTemporaneo.id, 'view']">{{ permessoTemporaneo.id }}</a></td>
                    <td>{{ permessoTemporaneo.targa }}</td>
                    <td>{{ permessoTemporaneo.domicilioDigitale }}</td>
                    <td jhiTranslate="{{ 'myztl5App.TipoPersona.' + permessoTemporaneo.tipoPersona }}">{{ permessoTemporaneo.tipoPersona }}</td>
                    <td>{{ permessoTemporaneo.nomeRichiedente }}</td>
                    <td>{{ permessoTemporaneo.cognomeRichiedente }}</td>
                    <td>{{ permessoTemporaneo.ragioneSociale }}</td>
                    <td>{{ permessoTemporaneo.codiceFiscaleRichiedente }}</td>
                    <td>{{ permessoTemporaneo.partitaIva }}</td>
                    <td>{{ permessoTemporaneo.dataInizio | date:'mediumDate' }}</td>
                    <td>{{ permessoTemporaneo.impostaDiBollo }}</td>
                    <td>{{ permessoTemporaneo.costo }}</td>
                    <td>
                        <a *ngIf="permessoTemporaneo.copiaFirmata" (click)="openFile(permessoTemporaneo.copiaFirmataContentType, permessoTemporaneo.copiaFirmata)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="permessoTemporaneo.copiaFirmata">{{ permessoTemporaneo.copiaFirmataContentType }}, {{ byteSize(permessoTemporaneo.copiaFirmata) }}</span>
                    </td>
                    <td>
                        <a *ngIf="permessoTemporaneo.documentoRiconoscimento" (click)="openFile(permessoTemporaneo.documentoRiconoscimentoContentType, permessoTemporaneo.documentoRiconoscimento)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="permessoTemporaneo.documentoRiconoscimento">{{ permessoTemporaneo.documentoRiconoscimentoContentType }}, {{ byteSize(permessoTemporaneo.documentoRiconoscimento) }}</span>
                    </td>
                    <td>{{ permessoTemporaneo.pagato }}</td>
                    <td>{{ permessoTemporaneo.protocollo }}</td>
                    <td>
                        <div *ngIf="permessoTemporaneo.calendario">
                            <a [routerLink]="['/calendarizzazione', permessoTemporaneo.calendario?.id, 'view']" >{{ permessoTemporaneo.calendario?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="permessoTemporaneo.tipoPermesso">
                            <a [routerLink]="['/tipologia-permesso', permessoTemporaneo.tipoPermesso?.id, 'view']" >{{ permessoTemporaneo.tipoPermesso?.nome }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="permessoTemporaneo.durata">
                            <a [routerLink]="['/durata-costo', permessoTemporaneo.durata?.id, 'view']" >{{ permessoTemporaneo.durata?.durata }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="permessoTemporaneo.nome">
                            <a [routerLink]="['/zona', permessoTemporaneo.nome?.id, 'view']" >{{ permessoTemporaneo.nome?.nome }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="permessoTemporaneo.motivazione">
                            <a [routerLink]="['/motivazione', permessoTemporaneo.motivazione?.id, 'view']" >{{ permessoTemporaneo.motivazione?.descrizione }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/permesso-temporaneo', permessoTemporaneo.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/permesso-temporaneo', permessoTemporaneo.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(permessoTemporaneo)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="permessoTemporaneos && permessoTemporaneos.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
